<div class="mt-0">
  <div class="card">
    <div class="card-header">Total de Tareas: {{ tareas.length }}</div>
    <div class="card-body">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [responsive]="chartOptions.responsive"
          [xaxis]="chartOptions.xaxis"
          [legend]="chartOptions.legend"
          [fill]="chartOptions.fill"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
